@use '../utils' as *;

*, ::before, ::after{ margin: units(0); padding: units(0); box-sizing: border-box; }
html{ line-height: $line-height; }
body{ height: 100vh; background-color: color('white'); font-family: font('r'), monospace; font-weight: $font-weight; }
i, span, a, img, strong, input{ display: inline-block; }
hr{ box-sizing: content-box; overflow: visible; }
a{ background-color: transparent; }
::-webkit-scrollbar{width: $spacer * .375; height: $spacer * .375;}
::-webkit-scrollbar-track{background-color: color('bg');}
::-webkit-scrollbar-thumb{background-color: lighten(color('secondary-text'), $amount: 12) ;}
h1, h2, h3, h4, h5, h6{ font-family: font('b'); font-weight: 400; }

/*! Text Formats ================ */
strong{font-family: font('m');}
small{ font-size: 80%; }
sub, sup { font-size: 75%; line-height: units(0); position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
img { border-style: none; }

/*! Forms ================ */
button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; }
button, select{ text-transform: none; }
button, [type="button"], [type="reset"], [type="submit"]{ -webkit-appearance: button; appearance: button; }
[hidden]{ display: none; }